@import url(reset.css);
@import url(visor.css);
@import url(tecla.css);

:root {
  --inter-font: "Inter", sans-serif;
  --jetBrains-font: "JetBrains Mono", monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4c3b8f;
}

main {
  width: 380px;
  height: auto;
  background-color: #1e1b2e;
  padding: 20px;
  border-radius: 10px;
}
